<a href="https://colab.research.google.com/github/Naimwrds/DMWGP/blob/main/EDADM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls

AutoViz_Plots  AutoViz_Plots.zip  drive  sample_data

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/loan_data.csv')
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [ ]:
df.shape

(45000, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

In [ ]:
df.describe()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,45000.000000,4.500000e+04,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000
mean,27.764178,8.031905e+04,5.410333,9583.157556,11.006606,0.139725,5.867489,632.608756,0.222222
std,6.045108,8.042250e+04,6.063532,6314.886691,2.978808,0.087212,3.879702,50.435865,0.415744
min,20.000000,8.000000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,390.000000,0.000000
25%,24.000000,4.720400e+04,1.000000,5000.000000,8.590000,0.070000,3.000000,601.000000,0.000000
50%,26.000000,6.704800e+04,4.000000,8000.000000,11.010000,0.120000,4.000000,640.000000,0.000000
75%,30.000000,9.578925e+04,8.000000,12237.250000,12.990000,0.190000,8.000000,670.000000,0.000000
max,144.000000,7.200766e+06,125.000000,35000.000000,20.000000,0.660000,30.000000,850.000000,1.000000

In [ ]:
# Total Missing Data
total = df.isnull().sum().sort_values(ascending=False)
# Missing Data percentage
pct = total/len(df.index) * 100
# Display in table form
missing = pd.concat([pct, total], axis=1, keys=['Percentage Missing (%)', 'Total Missing Data'])
print(missing)

                                Percentage Missing (%)  Total Missing Data
person_age                                0.0                    0
person_gender                             0.0                    0
person_education                          0.0                    0
person_income                             0.0                    0
person_emp_exp                            0.0                    0
person_home_ownership                     0.0                    0
loan_amnt                                 0.0                    0
loan_intent                               0.0                    0
loan_int_rate                             0.0                    0
loan_percent_income                       0.0                    0
cb_person_cred_hist_length                0.0                    0
credit_score                              0.0                    0
previous_loan_defaults_on_file            0.0                    0
loan_status                               0.0                    0

In [ ]:
df.duplicated().sum()

0

In [ ]:
#Age Inspection
df['person_age'].unique()

array([ 22.,  21.,  25.,  23.,  24.,  26., 144., 123.,  20.,  32.,  34.,
        29.,  33.,  28.,  35.,  31.,  27.,  30.,  36.,  40.,  50.,  45.,
        37.,  39.,  44.,  43.,  41.,  46.,  38.,  47.,  42.,  48.,  49.,
        58.,  65.,  51.,  53.,  66.,  61.,  54.,  57.,  59.,  62.,  60.,
        55.,  52.,  64.,  70.,  78.,  69.,  56.,  73.,  63.,  94.,  80.,
        84.,  76.,  67., 116., 109.])

In [ ]:
#Education Inspection
df['person_education'].unique()
df['person_education'].value_counts()

person_education
Bachelor       13399
Associate      12028
High School    11972
Master          6980
Doctorate        621
Name: count, dtype: int64

In [ ]:
#loan Intent Inspection
df['loan_intent'].unique()
df['loan_intent'].value_counts()

loan_intent
EDUCATION            9153
MEDICAL              8548
VENTURE              7819
PERSONAL             7552
DEBTCONSOLIDATION    7145
HOMEIMPROVEMENT      4783
Name: count, dtype: int64

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Set Seaborn style for better aesthetics
sns.set_theme(style="white")

# Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Loop through each categorical column to visualize
for column in categorical_columns:
    plt.figure(figsize=(10, 6))
    value_counts = df[column].value_counts()

    # Create bar chart
    plt.bar(value_counts.index, value_counts.values, color='lightblue', edgecolor='black', linewidth=1.2)

    # Add labels and title
    plt.xlabel(column.replace('_', ' ').title(), fontsize=14)
    plt.ylabel('Count', fontsize=14)
    plt.title(f'Distribution of {column.replace("_", " ").title()}', fontsize=16, fontweight='bold', pad=15)

    # Show the count above each bar
    for i, count in enumerate(value_counts.values):
        plt.text(i, count + 0.5, str(count), ha='center', fontsize=12, color='black')

    plt.tight_layout()
    plt.show()

In [ ]:
# Set Seaborn style for better aesthetics
sns.set_theme(style="white")

# List of numeric columns to visualize
numeric_columns = ['person_age', 'person_income', 'credit_score', 'loan_amnt', 'loan_int_rate']

# Loop through each numeric column to visualize
for column in numeric_columns:
    plt.figure(figsize=(10, 6))

    # Create histogram
    sns.histplot(df[column], kde=True, bins=30, color='lightblue', edgecolor='black', linewidth=1.2)

    # Add labels and title
    plt.xlabel(column.replace('_', ' ').title(), fontsize=14)
    plt.ylabel('Frequency', fontsize=14)
    plt.title(f'Distribution of {column.replace("_", " ").title()}', fontsize=16, fontweight='bold', pad=15)

    # Customize grid and layout
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()

In [ ]:
# Variables to plot
columns_to_plot = ['person_income', 'loan_amnt', 'credit_score', 'loan_int_rate', 'loan_percent_income']

# Create box plots
plt.figure(figsize=(16, 8))
for i, column in enumerate(columns_to_plot, 1):
    plt.subplot(1, 5, i)
    sns.boxplot(data=df, y=column, color='lightcoral')
    plt.title(f'Box Plot of {column}')
    plt.ylabel(column)
plt.tight_layout()
plt.show()

In [ ]:
# List of numeric columns to check for outliers
numeric_columns = ['person_age','person_income', 'loan_amnt', 'credit_score', 'loan_int_rate', 'loan_percent_income']

# Create a copy of the dataset to avoid modifying the original
df_cleaned = df.copy()

# Loop through each numeric column
for column in numeric_columns:
    # Calculate Q1, Q3, and IQR
    Q1 = df_cleaned[column].quantile(0.25)
    Q3 = df_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Filter data to remove outliers
    df_cleaned = df_cleaned[(df_cleaned[column] >= lower_bound) & (df_cleaned[column] <= upper_bound)]

# Print the shape of the dataset before and after cleaning
print("Original dataset shape:", df.shape)
print("Cleaned dataset shape:", df_cleaned.shape)

Original dataset shape: (45000, 14)
Cleaned dataset shape: (37255, 14)

In [ ]:
# Re-plot box plots after removing outliers
plt.figure(figsize=(15, 5))
for i, column in enumerate(numeric_columns, 1):
    plt.subplot(1, len(numeric_columns), i)
    sns.boxplot(data=df_cleaned, y=column, color='salmon')
    plt.title(f'Box Plot of {column}')
    plt.ylabel(column)
plt.tight_layout()
plt.show()

In [ ]:
# Numeric columns to include in correlation analysis
numeric_columns = ['person_age', 'person_income', 'credit_score', 'loan_amnt', 'loan_int_rate', 'loan_percent_income', 'loan_status']

# Compute the correlation matrix
correlation_matrix = df_cleaned[numeric_columns].corr()

# Visualize the correlation matrix as a heatmap
plt.figure(figsize=(10, 6))
sns.heatmap(correlation_matrix, annot=True, fmt='.2f', cmap='coolwarm', cbar=True)
plt.title('Correlation Matrix', fontsize=16, fontweight='bold', pad=15)
plt.show()

In [ ]:
from scipy.stats import chi2_contingency

# List of categorical columns
categorical_columns = ['person_gender', 'person_education', 'person_home_ownership', 'loan_intent', 'previous_loan_defaults_on_file']

# Loop through each categorical column
for column in categorical_columns:
    # Create a contingency table
    contingency_table = pd.crosstab(df_cleaned[column], df_cleaned['loan_status'])

    # Perform Chi-Square test
    chi2, p, dof, expected = chi2_contingency(contingency_table)

    # Print the results
    print(f"Chi-Square Test for {column}:")
    print(f"Chi2 Statistic = {chi2:.2f}, p-value = {p:.4f}")
    if p < 0.05:
        print(f"  -> Significant association with loan_status (p < 0.05)\n")
    else:
        print(f"  -> No significant association with loan_status (p ≥ 0.05)\n")

Chi-Square Test for person_gender:
Chi2 Statistic = 0.33, p-value = 0.5634
  -> No significant association with loan_status (p ≥ 0.05)

Chi-Square Test for person_education:
Chi2 Statistic = 1.90, p-value = 0.7533
  -> No significant association with loan_status (p ≥ 0.05)

Chi-Square Test for person_home_ownership:
Chi2 Statistic = 1893.50, p-value = 0.0000
  -> Significant association with loan_status (p < 0.05)

Chi-Square Test for loan_intent:
Chi2 Statistic = 775.37, p-value = 0.0000
  -> Significant association with loan_status (p < 0.05)

Chi-Square Test for previous_loan_defaults_on_file:
Chi2 Statistic = 10320.50, p-value = 0.0000
  -> Significant association with loan_status (p < 0.05)

In [ ]:
import numpy as np
from scipy.stats import chi2_contingency

def cramers_v(confusion_matrix):
    # Ensure the input is a valid NumPy array
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.to_numpy().sum()
    r, k = confusion_matrix.shape
    return np.sqrt(chi2 / (n * (min(r, k) - 1)))

# Loop through each categorical column
for column in categorical_columns:
    # Create a contingency table
    contingency_table = pd.crosstab(df_cleaned[column], df_cleaned['loan_status'])

    # Calculate Cramér's V
    cramers_value = cramers_v(contingency_table)

    # Print the result
    print(f"Cramér's V for {column}: {cramers_value:.2f}")

Cramér's V for person_gender: 0.00
Cramér's V for person_education: 0.01
Cramér's V for person_home_ownership: 0.23
Cramér's V for loan_intent: 0.14
Cramér's V for previous_loan_defaults_on_file: 0.53

In [ ]:
# Loop through each categorical column
for column in categorical_columns:
    # Create a stacked bar chart
    contingency_table = pd.crosstab(df_cleaned[column], df_cleaned['loan_status'], normalize='index')
    contingency_table.plot(kind='bar', stacked=True, figsize=(10, 6), colormap='coolwarm')

    # Add labels and title
    plt.title(f'Loan Status by {column.replace("_", " ").title()}', fontsize=16, fontweight='bold')
    plt.xlabel(column.replace('_', ' ').title(), fontsize=14)
    plt.ylabel('Proportion', fontsize=14)
    plt.legend(title='Loan Status', loc='upper right', labels=['Not Approved (0)', 'Approved (1)'])
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()

In [ ]:
# List of categorical variables for analysis
group_columns = ['person_gender', 'person_home_ownership', 'loan_intent', 'person_education', 'previous_loan_defaults_on_file']

# Loop through each categorical variable
for column in group_columns:
    # Calculate loan approval rates
    approval_rates = df_cleaned.groupby(column)['loan_status'].mean() * 100  # Convert to percentage

    # Display results
    print(f"Loan Approval Rates by {column.title().replace('_', ' ')}:")
    print(approval_rates.round(2))
    print('-' * 50)

Loan Approval Rates by Person Gender:
person_gender
female    20.04
male      20.29
Name: loan_status, dtype: float64
--------------------------------------------------
Loan Approval Rates by Person Home Ownership:
person_home_ownership
MORTGAGE    10.93
OTHER       28.89
OWN          6.87
RENT        28.42
Name: loan_status, dtype: float64
--------------------------------------------------
Loan Approval Rates by Loan Intent:
loan_intent
DEBTCONSOLIDATION    27.54
EDUCATION            15.03
HOMEIMPROVEMENT      26.02
MEDICAL              25.10
PERSONAL             18.52
VENTURE              12.28
Name: loan_status, dtype: float64
--------------------------------------------------
Loan Approval Rates by Person Education:
person_education
Associate      19.88
Bachelor       20.24
Doctorate      21.51
High School    20.49
Master         19.92
Name: loan_status, dtype: float64
--------------------------------------------------
Loan Approval Rates by Previous Loan Defaults On File:
previous_loan_defaults_on_file
No     42.29
Yes     0.00
Name: loan_status, dtype: float64
--------------------------------------------------

In [ ]:
for column in group_columns:
    approval_rates = df_cleaned.groupby(column)['loan_status'].mean()*100
    approval_rates = approval_rates.reset_index()
    print(f"Approval rates for {column}:\n{approval_rates}\n")  # Inspect the data

    # Plot only if the DataFrame is not empty
    if not approval_rates.empty:
        plt.figure(figsize=(10, 6))
        sns.barplot(x=column, y='loan_status', data=approval_rates, palette='coolwarm')

        plt.xlabel(column.replace('_', ' ').title(), fontsize=14)
        plt.ylabel('Approval Rate (%)', fontsize=14)
        plt.title(f'Loan Approval Rates by {column.replace("_", " ").title()}', fontsize=16, fontweight='bold')
        plt.ylim(0, 100)
        plt.grid(axis='y', linestyle='--', alpha=0.7)
        plt.tight_layout()
        plt.show()
    else:
        print(f"No data available for {column} to plot.")

Approval rates for person_gender:
  person_gender  loan_status
0     female      20.039199
1       male      20.286022

Approval rates for person_home_ownership:
  person_home_ownership  loan_status
0        MORTGAGE         10.933114
1           OTHER         28.888889
2             OWN          6.869276
3            RENT         28.418337

Approval rates for loan_intent:
     loan_intent      loan_status
0  DEBTCONSOLIDATION   27.536971
1          EDUCATION   15.032933
2    HOMEIMPROVEMENT   26.024160
3            MEDICAL   25.104196
4           PERSONAL   18.517314
5            VENTURE   12.283684

Approval rates for person_education:
  person_education  loan_status
0      Associate     19.877613
1       Bachelor     20.241134
2      Doctorate     21.513002
3    High School     20.494410
4         Master     19.915469

Approval rates for previous_loan_defaults_on_file:
  previous_loan_defaults_on_file  loan_status
0                No                42.293624
1               Yes                 0.000000

EDA USING AUTOVIZ

In [ ]:
!pip install autoviz

Requirement already satisfied: autoviz in /usr/local/lib/python3.10/dist-packages (0.1.905)
Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (from autoviz) (2.0.1)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.10/dist-packages (from autoviz) (1.9.4)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (from autoviz) (2.14.0)
Requirement already satisfied: pyamg in /usr/local/lib/python3.10/dist-packages (from autoviz) (5.2.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from autoviz) (1.6.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from autoviz) (0.14.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from autoviz) (3.9.1)
Requirement already satisfied: textblob in /usr/local/lib/python3.10/dist-packages (from autoviz) (0.17.1)
Requirement already satisfied: xgboost<1.7,>=0.82 in /usr/local/lib/python3.10/dist-packages (from autoviz) (1.6.2)
Requirement already satisfied: fsspec>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from autoviz) (2024.10.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from autoviz) (4.12.2)
Requirement already satisfied: pandas-dq>=1.29 in /usr/local/lib/python3.10/dist-packages (from autoviz) (1.29)
Requirement already satisfied: numpy>=1.24.0 in /usr/local/lib/python3.10/dist-packages (from autoviz) (1.26.4)
Requirement already satisfied: hvplot>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from autoviz) (0.11.2)
Requirement already satisfied: holoviews>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from autoviz) (1.20.0)
Requirement already satisfied: panel>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from autoviz) (1.5.5)
Requirement already satisfied: pandas>=2.0 in /usr/local/lib/python3.10/dist-packages (from autoviz) (2.2.2)
Requirement already satisfied: matplotlib>3.7.4 in /usr/local/lib/python3.10/dist-packages (from autoviz) (3.10.0)
Requirement already satisfied: seaborn>0.12.2 in /usr/local/lib/python3.10/dist-packages (from autoviz) (0.13.2)
Requirement already satisfied: bokeh>=3.1 in /usr/local/lib/python3.10/dist-packages (from holoviews>=1.16.0->autoviz) (3.6.2)
Requirement already satisfied: colorcet in /usr/local/lib/python3.10/dist-packages (from holoviews>=1.16.0->autoviz) (3.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from holoviews>=1.16.0->autoviz) (24.2)
Requirement already satisfied: param<3.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from holoviews>=1.16.0->autoviz) (2.2.0)
Requirement already satisfied: pyviz-comms>=2.1 in /usr/local/lib/python3.10/dist-packages (from holoviews>=1.16.0->autoviz) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>3.7.4->autoviz) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>3.7.4->autoviz) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>3.7.4->autoviz) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>3.7.4->autoviz) (1.4.8)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.10/dist-packages (from matplotlib>3.7.4->autoviz) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>3.7.4->autoviz) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>3.7.4->autoviz) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0->autoviz) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0->autoviz) (2024.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from panel>=1.4.0->autoviz) (6.2.0)
Requirement already satisfied: linkify-it-py in /usr/local/lib/python3.10/dist-packages (from panel>=1.4.0->autoviz) (2.0.3)
Requirement already satisfied: markdown in /usr/local/lib/python3.10/dist-packages (from panel>=1.4.0->autoviz) (3.7)
Requirement already satisfied: markdown-it-py in /usr/local/lib/python3.10/dist-packages (from panel>=1.4.0->autoviz) (3.0.0)
Requirement already satisfied: mdit-py-plugins in /usr/local/lib/python3.10/dist-packages (from panel>=1.4.0->autoviz) (0.4.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from panel>=1.4.0->autoviz) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from panel>=1.4.0->autoviz) (4.67.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->autoviz) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->autoviz) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->autoviz) (3.5.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->autoviz) (8.1.8)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->autoviz) (2024.11.6)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels->autoviz) (1.0.1)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from bokeh>=3.1->holoviews>=1.16.0->autoviz) (3.1.5)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.10/dist-packages (from bokeh>=3.1->holoviews>=1.16.0->autoviz) (6.0.2)
Requirement already satisfied: tornado>=6.2 in /usr/local/lib/python3.10/dist-packages (from bokeh>=3.1->holoviews>=1.16.0->autoviz) (6.3.3)
Requirement already satisfied: xyzservices>=2021.09.1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=3.1->holoviews>=1.16.0->autoviz) (2024.9.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>3.7.4->autoviz) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->panel>=1.4.0->autoviz) (0.5.1)
Requirement already satisfied: uc-micro-py in /usr/local/lib/python3.10/dist-packages (from linkify-it-py->panel>=1.4.0->autoviz) (1.0.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py->panel>=1.4.0->autoviz) (0.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=1.4.0->autoviz) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=1.4.0->autoviz) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=1.4.0->autoviz) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=1.4.0->autoviz) (2024.12.14)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=2.9->bokeh>=3.1->holoviews>=1.16.0->autoviz) (3.0.2)

In [ ]:
# Import necessary libraries
from autoviz.AutoViz_Class import AutoViz_Class
import pandas as pd

# Initialize AutoViz
AV = AutoViz_Class()

# Generate visualizations
# Pass the dataset and other parameters
# Change target variable name if your dataset has one
target_variable = 'loan_status'  # Replace with your target column name
visualizations = AV.AutoViz(
    filename="",       # Empty string if data is already loaded into a DataFrame
    dfte=df,           # The DataFrame
    depVar=target_variable,  # Dependent variable (target column)
    verbose=2,         # Level of verbosity (1 or 2 for detailed analysis)
    lowess=False,      # Enable lowess plots for trendlines
    chart_format='png',  # Output chart format (png, svg, etc.)
    max_rows_analyzed=150000,  # Limit on the number of rows for analysis
    max_cols_analyzed=30       # Limit on the number of columns for analysis
)

print("AutoViz visualizations generated successfully!")

Shape of your Data Set loaded: (45000, 14)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
  Printing up to 30 columns (max) in each category:
    Numeric Columns : ['person_age', 'person_income', 'loan_amnt', 'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length']
    Integer-Categorical Columns: ['person_emp_exp', 'credit_score']
    String-Categorical Columns: ['person_education', 'person_home_ownership', 'loan_intent']
    Factor-Categorical Columns: []
    String-Boolean Columns: ['person_gender', 'previous_loan_defaults_on_file']
    Numeric-Boolean Columns: []
    Discrete String Columns: []
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: []
    Columns that will not be considered in modeling: []
    13 Predictors classified...
        No variables removed since no ID or low-information variables found in data set

################ Binary_Classification problem #####################
   Columns to delete:
'   []'
   Boolean variables %s
"   ['person_gender', 'previous_loan_defaults_on_file']"
   Categorical variables %s
("   ['person_education', 'person_home_ownership', 'loan_intent', "
 "'person_emp_exp', 'credit_score', 'person_gender', "
 "'previous_loan_defaults_on_file']")
   Continuous variables %s
("   ['person_age', 'person_income', 'loan_amnt', 'loan_int_rate', "
 "'loan_percent_income', 'cb_person_cred_hist_length']")
   Discrete string variables %s
'   []'
   Date and time variables %s
'   []'
   ID variables %s
'   []'
   Target variable %s
'   loan_status'
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 21
All Plots are saved in ./AutoViz_Plots/loan_status
Time to run AutoViz = 65 seconds
AutoViz visualizations generated successfully!

In [ ]:
import pandas as pd
import numpy as np


# Capping outliers for selected columns
def cap_outliers(column, lower_percentile=0.01, upper_percentile=0.99):
    lower_bound = column.quantile(lower_percentile)
    upper_bound = column.quantile(upper_percentile)
    column = np.where(column < lower_bound, lower_bound, column)
    column = np.where(column > upper_bound, upper_bound, column)
    return column

columns_with_outliers = ['person_age', 'person_income', 'loan_amnt', 'loan_int_rate',
                         'cb_person_cred_hist_length', 'credit_score']
for col in columns_with_outliers:
    df[col] = cap_outliers(df[col])

# Handling high correlation
df.drop(columns=['cb_person_cred_hist_length'], inplace=True)  # Dropping one correlated variable

# Handling rare categories
df['person_home_ownership'] = df['person_home_ownership'].replace({'OTHER': 'RENT'})  # Group 'OTHER' into 'RENT'

# Convert Boolean columns to numeric
df['person_gender'] = df['person_gender'].map({'female': 0, 'male': 1})
df['previous_loan_defaults_on_file'] = df['previous_loan_defaults_on_file'].map({'no': 0, 'yes': 1})

# Verify changes
print(df.head())

   person_age  person_gender person_education  person_income  person_emp_exp  \
0     22.0           0               Master      71948.00            0
1     21.0           0          High School      17875.95            0
2     25.0           0          High School      17875.95            3
3     23.0           0             Bachelor      79753.00            0
4     24.0           1               Master      66135.00            1

  person_home_ownership  loan_amnt loan_intent  loan_int_rate  \
0            RENT        28390.34     PERSONAL      16.02
1             OWN         1138.87    EDUCATION      11.14
2        MORTGAGE         5500.00      MEDICAL      12.87
3            RENT        28390.34      MEDICAL      15.23
4            RENT        28390.34      MEDICAL      14.27

   loan_percent_income  credit_score  previous_loan_defaults_on_file  \
0         0.49              561.0                  NaN
1         0.08              504.0                  NaN
2         0.44              635.0                  NaN
3         0.44              675.0                  NaN
4         0.53              586.0                  NaN

   loan_status
0       1
1       0
2       1
3       1
4       1

In [ ]:
# Import necessary libraries
from autoviz.AutoViz_Class import AutoViz_Class
import pandas as pd

# Initialize AutoViz
AV = AutoViz_Class()

# Generate visualizations
# Pass the dataset and other parameters
# Change target variable name if your dataset has one
target_variable = 'loan_status'  # Replace with your target column name
visualizations = AV.AutoViz(
    filename="",       # Empty string if data is already loaded into a DataFrame
    dfte=df,           # The DataFrame
    depVar=target_variable,  # Dependent variable (target column)
    verbose=2,         # Level of verbosity (1 or 2 for detailed analysis)
    lowess=False,      # Enable lowess plots for trendlines
    chart_format='png',  # Output chart format (png, svg, etc.)
    max_rows_analyzed=150000,  # Limit on the number of rows for analysis
    max_cols_analyzed=30       # Limit on the number of columns for analysis
)

print("AutoViz visualizations generated successfully!")

Shape of your Data Set loaded: (45000, 13)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
  Printing up to 30 columns (max) in each category:
    Numeric Columns : ['person_age', 'person_income', 'loan_amnt', 'loan_int_rate', 'loan_percent_income', 'credit_score']
    Integer-Categorical Columns: ['person_emp_exp']
    String-Categorical Columns: ['person_education', 'person_home_ownership', 'loan_intent']
    Factor-Categorical Columns: []
    String-Boolean Columns: []
    Numeric-Boolean Columns: ['person_gender']
    Discrete String Columns: []
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: []
    Columns that will not be considered in modeling: ['previous_loan_defaults_on_file']
    12 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['previous_loan_defaults_on_file']

################ Binary_Classification problem #####################
   Columns to delete:
"   ['previous_loan_defaults_on_file']"
   Boolean variables %s
"   ['person_gender']"
   Categorical variables %s
("   ['person_education', 'person_home_ownership', 'loan_intent', "
 "'person_emp_exp', 'person_gender']")
   Continuous variables %s
("   ['person_age', 'person_income', 'loan_amnt', 'loan_int_rate', "
 "'loan_percent_income', 'credit_score']")
   Discrete string variables %s
'   []'
   Date and time variables %s
'   []'
   ID variables %s
'   []'
   Target variable %s
'   loan_status'
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 21
All Plots are saved in ./AutoViz_Plots/loan_status
Time to run AutoViz = 47 seconds
AutoViz visualizations generated successfully!

In [ ]:
import shutil

# Define the directory to be zipped and the output zip file name
directory_to_zip = './AutoViz_Plots/loan_status'
output_zip_file = 'AutoViz_Plots.zip'

# Compress the directory into a zip file
shutil.make_archive(output_zip_file.replace('.zip', ''), 'zip', directory_to_zip)

print(f"Directory '{directory_to_zip}' compressed into '{output_zip_file}' successfully!")